CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_DRM=y
CONFIG_I2C_MUX=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_FRAMEBUFFER_CONSOLE_LEGACY_ACCELERATION=y
CONFIG_VT_CONSOLE=y
CONFIG_VT=y
CONFIG_DRM_BRIDGE=y
CONFIG_DRM_GEM_DMA_HELPER=y
CONFIG_DRM_IGNORE_IOTCL_PERMIT=y
CONFIG_DRM_KMS_HELPER=y
CONFIG_DRM_NOMODESET=y
CONFIG_DRM_PANEL=y
CONFIG_FB_CMDLINE=y
CONFIG_SPI=y
CONFIG_SPI_ROCKCHIP=y
CONFIG_SPI_SPIDEV=y
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_FB=y
CONFIG_TINYDRM_ILI9488=y
