# iwd required crypto modules
CONFIG_CRYPTO_CBC=y
CONFIG_CRYPTO_USER_API_SKCIPHER=y
CONFIG_CRYPTO_ECB=y
CONFIG_CRYPTO_DES=y
CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_CRYPTO_USER_API_SKCIPHER=y
CONFIG_CRYPTO_SHA1_ARM=y
CONFIG_CRYPTO_SHA256_ARM=y
CONFIG_CRYPTO_SHA512_ARM=y
CONFIG_CRYPTO_AES_ARM=y
CONFIG_PKCS8_PRIVATE_KEY_PARSER=y
CONFIG_KEY_DH_OPERATIONS=y
CONFIG_CRYPTO_ECDH=y
CONFIG_CRYPTO_AES_TI=y
CONFIG_CRYPTO_DES=y
CONFIG_CRYPTO_ECB=y
CONFIG_CRYPTO_MD4=y
CONFIG_CRYPTO_MD5=y

# iwd requires RFKILL
CONFIG_RFKILL=y
CONFIG_RFKILL_LEDS=y
CONFIG_RFKILL_INPUT=y
CONFIG_RFKILL_GPIO=y

CONFIG_NET=y
CONFIG_PACKET=y
CONFIG_UNIX=y
CONFIG_INET=y
CONFIG_NETFILTER=y
CONFIG_BPFILTER=y
CONFIG_BRIDGE=y

# CFG80211 and MAC80211 must be modules to load regulatory DB from userspace
CONFIG_CFG80211=m
CONFIG_CFG80211_WEXT=y
CONFIG_MAC80211=m
CONFIG_MAC80211_LEDS=y

CONFIG_NETDEVICES=y
CONFIG_RTL8XXXU=m
CONFIG_RTL8XXXU_UNTESTED=y