CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_DRM=y
CONFIG_I2C_MUX=y
CONFIG_MEDIA_SUPPORT=n
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_FRAMEBUFFER_CONSOLE_LEGACY_ACCELERATION=y
CONFIG_VT_CONSOLE=y
CONFIG_VT=y
CONFIG_DRM_BRIDGE=y
CONFIG_DRM_GEM_DMA_HELPER=y
CONFIG_DRM_IGNORE_IOTCL_PERMIT=y
CONFIG_DRM_KMS_HELPER=y
CONFIG_DRM_NOMODESET=y
CONFIG_DRM_PANEL=y
CONFIG_FB_CMDLINE=y
CONFIG_SPI=y
CONFIG_SPI_ROCKCHIP=y
CONFIG_SPI_SPIDEV=y
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_FB=y


CONFIG_DRM_DW_MIPI_DSI=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_DRM_PANEL_SIMPLE=n
CONFIG_DRM_PANEL_SIMPLE_OF_ONLY=n
CONFIG_DRM_ROCKCHIP=n
CONFIG_DRM_SII902X=n
CONFIG_HDMI=n
CONFIG_MEDIA_CAMERA_SUPPORT=n
CONFIG_MEDIA_CONTROLLER=n
CONFIG_MEDIA_PLATFORM_DRIVERS=n
CONFIG_MEDIA_PLATFORM_SUPPORT=n
CONFIG_MEDIA_SUPPORT_FILTER=n
CONFIG_ROCKCHIP_DW_MIPI_DSI=n
CONFIG_ROCKCHIP_FLEXBUS_CIF=n
CONFIG_ROCKCHIP_FLEXBUS_CIF_USE_DUMMY_BUF=n
CONFIG_ROCKCHIP_RGB=n
CONFIG_ROCKCHIP_VOP=n
CONFIG_TOUCHSCREEN_EDT_FT5X06=n
CONFIG_TOUCHSCREEN_GOODIX=n
CONFIG_TOUCHSCREEN_GSLX680_PAD=n
CONFIG_TOUCHSCREEN_GT1X=n
CONFIG_V4L2_ASYNC=n
CONFIG_V4L2_FWNODE=n
CONFIG_V4L_PLATFORM_DRIVERS=n
CONFIG_VIDEOBUF2_CMA_SG=n
CONFIG_VIDEOBUF2_CORE=n
CONFIG_VIDEOBUF2_MEMOPS=n
CONFIG_VIDEOBUF2_V4L2=n
CONFIG_VIDEOBUF2_VMALLOC=n
CONFIG_VIDEOMODE_HELPERS=n
CONFIG_VIDEO_CAMERA_SENSOR=n
CONFIG_VIDEO_DEV=n
CONFIG_VIDEO_V4L2_I2C=n
CONFIG_VIDEO_V4L2_SUBDEV_API=n
